<meta charset="UTF-8">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Pelican | Taking the fear out of checking your bank balance</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>pelican</h1>
        <h2>Taking the fear out of checking your bank balance</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <form>
        <button formaction="/sign-in" class="btn btn-lg btn-primary btn-block">Sign in</button>
        <button formaction="/sign-in" class="btn btn-lg btn-secondary btn-block">Register</button>
      </form>
    </div>
  </body>
</html>
