<meta charset="UTF-8">

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.ico">

  <title>Pelican | Taking the fear out of checking your bank balance</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/limits.css" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="alert alert-success alert-dismissible test" role="alert">
      <strong>Success!</strong> We've linked up to your Santander current account
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1>Set your limits</h1>
    <p>Based on your previous bank balance data, we suggest you use these limits – but it's totally up to you.</p>
    <table class="table">
      <tbody>
        <tr>
          <td colspan="3">Over this amount we'll text you</td>
          <td>
            <i class="em em-green_heart"></i>
          </td>
        </tr>
        <tr>
          <td style="border-top: none;">
            <span class="currency">£</span>
            <input type="number" min="0.01" step="0.01" id="high"></input>
          </td>
        </tr>
        <tr>
          <td width="3%" colspan="4">Between
          </td>
        </tr>
        <tr>
          <td width="3%" colspan="3" style="border-top: none;">
            <span class="amount">£</span>
            <span class="amount" id="low-amount"></span>
            and 

            <span class="amount">£</span>
            <span class="amount" id="high-amount"></span>
            we'll text you
          </td>
          <td style="border-top: none;">
            <i class="em em-large_orange_diamond">
          </td>
        </tr>
        <tr><td style="border-top: none;"></td></tr>
        <tr>
          <td colspan="3">Under this amount we'll text you</td>
          <td>
            <i class="em em-red_circle"></i>
          </td>
        </tr>
        <tr>
          <td style="border-top: none;">
            <span class="currency">£</span>

            <input type="number" min="0.01" step="0.01" id="low"></input>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" id="btn-update-limits">Update</button>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var defaults = localStorage.getItem("dataObject");
    var parsedDefaults = JSON.parse(defaults);
    document.getElementById('low').value = parsedDefaults.high;
    document.getElementById('high').value = parsedDefaults.low;
    $('#high-amount').text(parsedDefaults.high);
    $('#low-amount').text(parsedDefaults.low);

    $.ajax({
        url: 'http://167.99.82.88:3000/limits',
        type: "GET",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (resD) {
          console.log(resD)
          $("#high").val(resD.limits.high);
          $("#low").val(resD.limits.low);
        }
      });

    $("#btn-update-limits").click(function () {
      let high = $("#high").val();
      let low = $("#low").val();

      $.ajax({
        url: 'http://167.99.82.88:3000/limits',
        type: "POST",
        data: JSON.stringify({ low, high }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function () {
          console.log('success!')
        }
      });
    });

    $("#high").on("change keyup", function () {
      $('#high-amount').text($(this).val());
    });

    $("#low").on("change keyup", function () {
      $('#low-amount').text($(this).val());
    });

    $('.close').click(function () {
      $(".test").css("display", "none");
    });
  });
</script>

</html>