<meta charset="UTF-8">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Pelican | Taking the fear out of checking your bank balance</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/limits.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <p class="card-text">We've synced your Santander account successfully<img class="glyph-icon" src="/images/si-glyph-checked.svg"/></p>
        </div>
      </div>
      <h1>Set your limits</h1>
      <p>Based on your previous bank balance data, we suggest you use these limits – but it's totally up to you.</p>
      <table class="table">
        <tbody>
          <tr>
            <td style="text-align: right">Over this amount we'll text you</td>
            <td><i class="em em-green_heart"></i></td>
            <td><span>£</span><input type="number" min="0.01" step="0.01" placeholder="890"></input></td>
          </tr>
          <tr>
            <td style="text-align: right">Between <b style="color: grey">£890<% %></b> and <b style="color: grey">£211<% %></b> and we'll text you</i></i></td>
            <td colspan="2"><i class="em em-large_orange_diamond"></td>
          </tr>
          <tr>
            <td style="text-align: right">Under this amount we'll text you</td>
            <td><i class="em em-red_circle"></i></td>
            <td><span>£</span><input type="number" min="0.01" step="0.01" placeholder="211"></input></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary">Update</button>
    </div>
  </body>
</html>
